# Root
.env
*.env
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db
BROWSER_TESTS.MD
BACKEND_COMMANDS.MD
NOTES.MD
docker-compose.yml

# Python / FastAPI backend
app/__pycache__/
app/*.pyc
app/.pytest_cache/
app/.mypy_cache/
app/.DS_Store

# Pipenv
Pipfile.lock

# Virtualenv
venv/
env/
.venv/
.venv

# Alembic (optional if using DB)
migrations/versions/

# Frontend
front/node_modules/
front/dist/
front/.DS_Store
front/.vite/
front/.eslintcache

# OS / Editor junk
.DS_Store
*.swp
*.swo
*.bak
.idea/
.vscode/
node_modules/

# Docker
*.pid
docker-compose.override.yml